.attribution { 
  font-size: 11px; text-align: center; 
}

.attribution a {
  color: hsl(228, 45%, 44%); 
}

.body {
  background-color: lightblue;
  color: darkgreen;
  display: center;
}

.calculator {
  background-color: white;
  color: darkgreen;
}

.greenButton {
  background-color: green;
  color: white;
}

.whiteButton {
  background-color: white;
  color: green;
}

.totals { 
  background-color: green;
  color: white;
}

#reset {
   background-color: lightblue;
  color: darkgreen;
}
