.body {
  background-color: lightblue;
  color: darkgreen;
}

.calculator {
  background-color: white;
  color: darkgreen;
}

.greenButton {
  background-color: green;
  color: white;
}

.greenButton {
  background-color: green;
  color: white;
}

.whiteButton {
  background-color: white;
  color: green;
}

.totals { 
  background-color: green;
  color: white;
}

#reset {
   background-color: lightblue;
  color: darkgreen;
}
